@use '../basic.style';

.add-button{
    background-color:basic.$main_color;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px 0 basic.$main_color;
}